LOGIN 
<h2 class="header">Login</h2>


<form action="/login" method="POST" class="usrLogin">
  {{!-- <div> --}}
    <label>Username</label>
    <input type="text" name="username">
  {{!-- </div> --}}

  {{!-- <div> --}}
    <label>Password</label>
    <input type="password" name="password">
  {{!-- </div> --}}


  <button>Log In</button>

</form>
{{!-- 
PROFILE 
<form action="/spreads" class='newReadingForm'><button>New Reading</button></form>

<div class="past-spreads">
  {{#each pastSpread}}
  <div class="individual">
    <div class="date">
      {{this.created_at}}
    </div>
    <div class="type">
      {{this.type}}
    </div>
    <div class="see-all">
      <form action="/spreads/{{this._id}}"><button class="btn">Spread</button></form>
    </div>
  </div>
  {{/each}}
</div>

SIGN UP 
<h2 class="header">Signup</h2>


<form action="/signup" method="POST" class="usrLogin">

  <label>Username</label>
  <input type="text" name="username">


  <label>Password</label>
  <input type="password" name="password">


  <button>Log In</button>
</form> --}}